.app {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80vh;
  width: 90%;
}
body {
  background-color: #282c34;
}
.app-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.image {
  height: 90%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.site {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  border-radius: 15px;
  background-color: aliceblue;
  transition: height 1s ease, width 1s ease;
}
.site:hover {
  height: 450px;
  width: 450px;
  z-index: 1;
}
.link {
  height: 100%;
  width: 100%;
}
.buttons {
  display: flex;
  gap: 5px;
}
